body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #0a0a23;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   
}

.left {
    display: flex;
    align-items: center;
}

.search-bar {
    min-width: 25vw;
    background-color: #3B3B4F;
    display: flex;
    align-items: center;
}

.search-bar input {
    min-width: 25vw;
    background-color: #3B3B4F;
    border: none;
    padding: 5px;
    margin-right: 5px;
}

.search-bar input::placeholder{
    font-weight: 200;
    color: #ffffff93;
    letter-spacing: 1px;
}

.center {
    flex-grow: 1;
    text-align: center;
}

.center img {
    max-height: 40px;
}

.right {
    display: flex;
}

.right button {
    background-color: transparent;
    color: #fff;
    border: 1px white solid;
    padding: 10px 15px;
    margin-left: 5px;
    cursor: pointer;
}

.right button img {
    max-height: 30px;
}


.sec1{
    background-color: #f4f4f4;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    /* padding-top: 3rem; */
    min-height: 90vh;
    
}

.sec1_1{
    font-size: 1.5rem;

}

.sec1_1 p{
    font-size: 1.5rem;
    font-weight: 600;
    width:55vw;
    flex-wrap: wraps;
    
}

.sec1_1 img{
    width: 55vw;
    padding-bottom: 2rem;
}

.sec1_1 a{
    margin-top: 1rem;
    padding: 1rem 15rem;
    background-color: #feac32;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fecc4c),to(#ffac33));
    background-image: linear-gradient(#fecc4c,#ffac33);
    border-color: #feac32;
    border-width: 3px;
    color: #0a0a23!important;
    text-decoration: none;
    
}


.sec2{
    background-color: #f4f4f4;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2_1, .sec3_1{
    display: block;
    text-align: center;
}


.sec3{
    padding-top: 2rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    color: #d0d0d5;
    text-align: center;
    background-color: #3b3b4f;
}

.sec5{
    margin-top: -2rem;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding-bottom: 5rem;
    
}

.sec5_1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    display: block;
}

.sec5_1 h3{
    letter-spacing: 2px;
    font-size: 2.2rem;
    /* line-height: 1.5rem; */
    padding-bottom: 2rem;
    font-weight: 700;
    height: 100%;
    line-height: 1.1;
    margin-bottom: 40px;
    color: #3b3b4f;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
}

.sec5_1 .card{
    margin-top: 3rem;
    background-color: #fff;
    display: flex;
    max-width: 80vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    height:320px;
    width: 320px;
}

.card_text p{
    width: 90%;
    margin-left: 5%;
    text-align: left;
    letter-spacing: 2px;
    font-size: 1.2rem;
}
.card_text h4{
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.sec5 a{
    
    font-size: 1.5rem;
    margin-top: 5rem;
    padding: 1rem 15rem;
    background-color: #feac32;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fecc4c),to(#ffac33));
    background-image: linear-gradient(#fecc4c,#ffac33);
    border-color: #feac32;
    border-width: 3px;
    color: #0a0a23!important;
    text-decoration: none;
    
}

.sec6 a{
    
    font-size: 1.5rem;
    margin-top: 5rem;
    padding: 1rem 15rem;
    background-color: #feac32;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fecc4c),to(#ffac33));
    background-image: linear-gradient(#fecc4c,#ffac33);
    border-color: #feac32;
    border-width: 3px;
    color: #0a0a23!important;
    text-decoration: none;
    
}
.sec6{
    margin-top: -2rem;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding-bottom: 5rem;
    
}

.sec6_1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    display: block;
    margin-left: 12.5vw;
    max-width: 70vw;
}

.sec6_1  h2{
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2px;
}

.item{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    border: 2px #1b1b32 solid;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 60vw;
    margin-left: 10vw;
    max-height: 4rem;
    align-items: center;
    background-color: #d0d0d5;
    color: #1b1b32;
    font-weight: 500;
    font-size: 1.5rem;
}

.item .map-icon{
    max-width: 8%;
}

.item:hover{
    background-color: #1b1b32;
    color: #d0d0d5;
}


.sec7{
    margin-top: -2rem;
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    padding-bottom: 5rem;
    
}

.sec7_1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    display: block;
    margin-left: 20vw;
    max-width: 60vw;
}

.sec7_1  h1{
    text-align: left;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: 2px;
    padding-bottom: 2rem;
}

.que{
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-size: 1.3rem;
}

.ans{
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
}

.sec7 a{
    
    font-size: 1.5rem;
    margin-top: 5rem;
    padding: 1rem 15rem;
    background-color: #feac32;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fecc4c),to(#ffac33));
    background-image: linear-gradient(#fecc4c,#ffac33);
    border-color: #feac32;
    border-width: 3px;
    color: #0a0a23!important;
    text-decoration: none;
    
}

footer{
    
    padding: 6rem;
    background-color: #dfdfe2;
    color: #2a2a40;
}
.foot-main{
    display: flex;
    background-color: #dfdfe2;
    padding-bottom: 2rem;
    color: #2a2a40;
}
footer .one{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 40%;
    min-height: 50%;
    letter-spacing: 1px;
    text-align: left;
 }

 .two{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    list-style: none;
 }

 .two li{
    list-style: none;
    padding-top: 0.7rem;
 }

 .ribbon{
    color: #2a2a40;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
 }


 /* Media Queries */
 @media screen and (max-width:480px) {
     body{
         min-width:100vw;
     }
    .search-bar{
        visibility: hidden;
    }
    .navbar{
        justify-content: flex-start;
    }
    .left{
        max-width: 1px;
        max-height: 1px;
    }
    .center{
        max-width :30vw;
    }
    .right{
        float: right;
        margin-left: 100px;
    }
    .right button{
        max-width: 30px;
        max-height:30px;
    }
    .right img{
        margin-top: -0.5rem;
        margin-left: -0.8rem;
        max-width: 25px;
    }
    .sec1{
        background-color: #2a2a40;
        color: white;
        font-size: 10px;
        justify-content: flex-start;
    }
    .sec1_1{
        margin-top: -300px;
        padding-left: 1rem;
        font-size: 12px;
        line-height: 2.5rem;
    }
    .sec1_1 p{
        font-size: 16px;
        line-height: 1.5rem;
    }
    .sec1_1 a, .sec5 a, .sec6 a, .sec7 a{
        padding: 1rem 4rem;
        font-weight: 500;
        font-size: 1.2rem;
    }
    .sec5 a, .sec6 a , .sec7 a{
        margin-left: -3rem;
    }
    .sec2{
        visibility: collapse;
        max-height:1px ;
    }
    .sec3{
        margin-top: -3rem;
    }
    .sec3_1 h1{
        font-size: 1.5rem;
        margin-left: -10vw;
    }
    .sec3_1 img{
        max-width: 90vw;
        margin-left: -20vw;
    }
    .sec5{
        background-color: #2a2a40;
        color: white;
    }
    .sec5_1 h3 {
        font-size: 1.5rem;
        max-width: 80vw;
        color: white;
    }
    .cards{
        max-width: 90%;
    }
    .card img{
        max-width: 280px;
        max-height: 280px;
    }
    .sec5_1 .card{
        display: flex;
        max-width: 280px;
        flex-direction: column;
        background-color: #1b1b32;
        font-size: 10px;
        margin-left: -1.5rem;
        /* max-width: 90%; */
    }
    .card_text p{
        font-size: 16px;
    }
    .card_text{
        background-color: #1b1b32;
    }

    .sec6{
        background-color: #2a2a40;
        color: white;

    }
    .sec6_1 h2{
        text-align: left;
        font-size: 1.5rem;
        min-width: 100%;
        margin-left: 1rem;
    }
    .sec6_1{
        margin-left: 0;
    }
    .item{
        font-size: 16px;
        color: white;
        border: 2px  white solid;
        background-color: #f0f0f641;
    }
    .sec7{
        background-color: #2a2a40;
        color: white;
        margin-left: -2rem;
    }
    .foot-main{
        flex-direction: column;
        width: 95vw;
        color: white;
        background-color: #2a2a40;
        /* margin-left: -2rem; */
        }

    footer .one {
        
        color: white;
        background-color: #2a2a40;
        max-width: 80%;
        margin-left: 5%;
    }
    footer .two{
        
        color: white;
        background-color: #2a2a40;
        flex-direction: column;
        margin-left: -2rem;
        justify-content: flex-start;
    }
    footer{
        color: white;
        background-color: #2a2a40;
        padding: 0;
    }
    footer .ribbon{
        color: white;
        display: inline-flex;
        max-width: 90vw;
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }
    footer .ribbon p{
        flex-wrap: wrap;
        min-width: 6rem;
    }

 }
